<a href="https://colab.research.google.com/github/NasimShokrgozar/FirstSc/blob/main/Session06_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np
import pandas as pd

In [34]:
df_f=pd.read_excel('/content/Farm - clustering or prediction.xlsx')
df_f.head()

,id,name,region,farmsize,rainfall,landquality,farmincome,maincrop,claimtype,claimvalue
0,id601,name601,midlands,1480,30,8,330729.0,wheat,decommission_land,74703.1
1,id602,name602,north,1780,42,9,734118.0,maize,arable_dev,245354.0
2,id603,name603,midlands,500,69,7,231965.0,rapeseed,decommission_land,84213.0
3,id604,name604,southwest,1860,103,3,625251.0,potatoes,decommission_land,281082.0
4,id605,name605,north,1700,46,8,621148.0,wheat,decommission_land,122006.0

In [35]:
# بدئن گذاشتن اکسیس یعنی نالهای ستون را نمایش می دهد
df_f.isnull().sum()

id             0
name           0
region         0
farmsize       0
rainfall       0
landquality    0
farmincome     0
maincrop       0
claimtype      0
claimvalue     0
dtype: int64

In [36]:
df_t=pd.read_excel('/content/Telco - classification or clustering.xls')
df_t.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,...,confer,ebill,loglong,logtoll,logequi,logcard,logwire,lninc,custcat,churn
0,2,13,44,1,9,64,4,5,0,0,...,0,0,1.308333,NaN,NaN,2.014903,NaN,4.158883,1,1
1,3,11,33,1,7,136,5,5,0,0,...,1,0,1.481605,3.032546,NaN,2.724580,3.575151,4.912655,4,1
2,3,68,52,1,24,116,1,29,0,1,...,1,0,2.898671,2.890372,NaN,3.409496,NaN,4.753590,3,0
3,2,33,33,0,12,33,2,0,0,1,...,0,0,2.246015,NaN,NaN,NaN,NaN,3.496508,1,1
4,2,23,30,1,9,30,1,2,0,0,...,1,0,1.840550,NaN,NaN,NaN,NaN,3.401197,3,0

In [37]:
df_t.isnull().sum()

region        0
tenure        0
age           0
marital       0
address       0
income        0
ed            0
employ        0
retire        0
gender        0
reside        0
tollfree      0
equip         0
callcard      0
wireless      0
longmon       0
tollmon       0
equipmon      0
cardmon       0
wiremon       0
longten       0
tollten       0
equipten      0
cardten       0
wireten       0
multline      0
voice         0
pager         0
internet      0
callid        0
callwait      0
forward       0
confer        0
ebill         0
loglong       0
logtoll     525
logequi     614
logcard     322
logwire     704
lninc         0
custcat       0
churn         0
dtype: int64

In [38]:
#درصد Null
df_t.isnull().mean()

region      0.000
tenure      0.000
age         0.000
marital     0.000
address     0.000
income      0.000
ed          0.000
employ      0.000
retire      0.000
gender      0.000
reside      0.000
tollfree    0.000
equip       0.000
callcard    0.000
wireless    0.000
longmon     0.000
tollmon     0.000
equipmon    0.000
cardmon     0.000
wiremon     0.000
longten     0.000
tollten     0.000
equipten    0.000
cardten     0.000
wireten     0.000
multline    0.000
voice       0.000
pager       0.000
internet    0.000
callid      0.000
callwait    0.000
forward     0.000
confer      0.000
ebill       0.000
loglong     0.000
logtoll     0.525
logequi     0.614
logcard     0.322
logwire     0.704
lninc       0.000
custcat     0.000
churn       0.000
dtype: float64

In [39]:
#  درآمد افراد کمتر از 22 سال افزایش 100 داشته باشد
df_t[df_t['age']<22]['income']=df_t[df_t['age']<22]['income']+200

In [40]:
df_t[df_t['age']<22]['income']

25     33
28     17
94     17
100    17
192    19
238    21
243    25
304    18
383    15
419    21
434    20
448    18
534    15
599    21
610    25
662    36
668    15
816    20
829    18
835    20
845    15
957    25
981    18
Name: income, dtype: int64

In [41]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
df_t['NewFeature']=10
df_t['NewFeature']=df_t['income']/df_t['age']
df_t['NewFeature']

0       1.454545
1       4.121212
2       2.230769
3       1.000000
4       1.000000
         ...
995     0.692308
996     0.647059
997    16.000000
998     1.775510
999     1.083333
Name: NewFeature, Length: 1000, dtype: float64

In [45]:
df_t['newtest']=np.log(df_t['income']/df_t['age'])
df_t['newtest'].head()

0    0.374693
1    1.416147
2    0.802346
3    0.000000
4    0.000000
Name: newtest, dtype: float64

In [47]:
df1=df_t.copy()

In [48]:
del df1

In [51]:
df_f.columns[df_f.dtypes=='object']

Index(['id', 'name', 'region', 'maincrop', 'claimtype'], dtype='object')

In [54]:
df_f.dtypes[df_f.dtypes=='object'].index

Index(['id', 'name', 'region', 'maincrop', 'claimtype'], dtype='object')

In [57]:
df_f.select_dtypes(include=['object'])

        id     name     region  maincrop          claimtype
0    id601  name601   midlands     wheat  decommission_land
1    id602  name602      north     maize         arable_dev
2    id603  name603   midlands  rapeseed  decommission_land
3    id604  name604  southwest  potatoes  decommission_land
4    id605  name605      north     wheat  decommission_land
..     ...      ...        ...       ...                ...
295  id896  name896  southeast     wheat         arable_dev
296  id897  name897   midlands  rapeseed         arable_dev
297  id898  name898  southeast  potatoes         arable_dev
298  id899  name899      north  rapeseed         arable_dev
299  id900  name900  southwest     wheat  decommission_land

[300 rows x 5 columns]

In [58]:
df_f.select_dtypes(exclude=['int64','float64'])

        id     name     region  maincrop          claimtype
0    id601  name601   midlands     wheat  decommission_land
1    id602  name602      north     maize         arable_dev
2    id603  name603   midlands  rapeseed  decommission_land
3    id604  name604  southwest  potatoes  decommission_land
4    id605  name605      north     wheat  decommission_land
..     ...      ...        ...       ...                ...
295  id896  name896  southeast     wheat         arable_dev
296  id897  name897   midlands  rapeseed         arable_dev
297  id898  name898  southeast  potatoes         arable_dev
298  id899  name899      north  rapeseed         arable_dev
299  id900  name900  southwest     wheat  decommission_land

[300 rows x 5 columns]

In [62]:
df_f.sort_values('rainfall',ascending=False).head()

,id,name,region,farmsize,rainfall,landquality,farmincome,maincrop,claimtype,claimvalue
25,id626,name626,midlands,1580,109,8,1286430.0,wheat,arable_dev,377328.0
79,id680,name680,southeast,1840,109,3,566353.0,wheat,decommission_land,99069.6
90,id691,name691,southwest,920,109,9,925974.0,wheat,arable_dev,283727.0
102,id703,name703,southwest,400,109,9,363238.0,wheat,decommission_land,64827.2
230,id831,name618,southeast,520,108,8,430870.0,wheat,decommission_land,93415.4

In [66]:
#df_f=df_f.sort_values('rainfall',ascending=False)
df_f.sort_values('rainfall',ascending=False,inplace=True)
df_f.head()

,id,name,region,farmsize,rainfall,landquality,farmincome,maincrop,claimtype,claimvalue
25,id626,name626,midlands,1580,109,8,1286430.0,wheat,arable_dev,377328.0
90,id691,name691,southwest,920,109,9,925974.0,wheat,arable_dev,283727.0
102,id703,name703,southwest,400,109,9,363238.0,wheat,decommission_land,64827.2
79,id680,name680,southeast,1840,109,3,566353.0,wheat,decommission_land,99069.6
230,id831,name618,southeast,520,108,8,430870.0,wheat,decommission_land,93415.4

In [68]:
df_f.sort_values(['rainfall','farmsize'],ascending=[False,True])

,id,name,region,farmsize,rainfall,landquality,farmincome,maincrop,claimtype,claimvalue
102,id703,name703,southwest,400,109,9,363238.0,wheat,decommission_land,64827.20
90,id691,name691,southwest,920,109,9,925974.0,wheat,arable_dev,283727.00
25,id626,name626,midlands,1580,109,8,1286430.0,wheat,arable_dev,377328.00
79,id680,name680,southeast,1840,109,3,566353.0,wheat,decommission_land,99069.60
230,id831,name618,southeast,520,108,8,430870.0,wheat,decommission_land,93415.40
...,...,...,...,...,...,...,...,...,...,...
190,id791,name791,midlands,440,15,8,53345.9,potatoes,decommission_land,21231.50
172,id773,name773,midlands,500,15,7,56220.9,maize,arable_dev,17925.70
85,id686,name686,midlands,800,15,4,52010.4,wheat,decommission_land,9371.14
27,id628,name628,southeast,880,15,5,70439.8,wheat,arable_dev,19437.70
295,id896,name896,southeast,1120,15,5,81314.9,wheat,arable_dev,24486.10

In [69]:
#ذخیره دیتا فریم
df_f.to_csv('dd.csv',index=False) #columns=None

In [76]:
#تغییر نام ستون
df_f=df_f.rename(columns={'name':'Name'})
df_f.columns

Index(['id', 'Name', 'region', 'farmsize', 'rainfall', 'landquality',
       'farmincome', 'maincrop', 'claimtype', 'claimvalue'],
      dtype='object')

In [77]:
df_t2=df_t.copy()

In [79]:
df_t2.isnull().sum()

region          0
tenure          0
age             0
marital         0
address         0
income          0
ed              0
employ          0
retire          0
gender          0
reside          0
tollfree        0
equip           0
callcard        0
wireless        0
longmon         0
tollmon         0
equipmon        0
cardmon         0
wiremon         0
longten         0
tollten         0
equipten        0
cardten         0
wireten         0
multline        0
voice           0
pager           0
internet        0
callid          0
callwait        0
forward         0
confer          0
ebill           0
loglong         0
logtoll       525
logequi       614
logcard       322
logwire       704
lninc           0
custcat         0
churn           0
NewFeature      0
newtest         0
dtype: int64

In [80]:
df_t2=df_t2.fillna(-1)

In [81]:
df_t2.isnull().sum()

region        0
tenure        0
age           0
marital       0
address       0
income        0
ed            0
employ        0
retire        0
gender        0
reside        0
tollfree      0
equip         0
callcard      0
wireless      0
longmon       0
tollmon       0
equipmon      0
cardmon       0
wiremon       0
longten       0
tollten       0
equipten      0
cardten       0
wireten       0
multline      0
voice         0
pager         0
internet      0
callid        0
callwait      0
forward       0
confer        0
ebill         0
loglong       0
logtoll       0
logequi       0
logcard       0
logwire       0
lninc         0
custcat       0
churn         0
NewFeature    0
newtest       0
dtype: int64

In [83]:
df_t3=df_t.fillna(df_t.mean())

In [85]:
df_t.columns

Index(['region', 'tenure', 'age', 'marital', 'address', 'income', 'ed',
       'employ', 'retire', 'gender', 'reside', 'tollfree', 'equip', 'callcard',
       'wireless', 'longmon', 'tollmon', 'equipmon', 'cardmon', 'wiremon',
       'longten', 'tollten', 'equipten', 'cardten', 'wireten', 'multline',
       'voice', 'pager', 'internet', 'callid', 'callwait', 'forward', 'confer',
       'ebill', 'loglong', 'logtoll', 'logequi', 'logcard', 'logwire', 'lninc',
       'custcat', 'churn', 'NewFeature', 'newtest'],
      dtype='object')

In [89]:
df_t3[['age','gender']]=df_t[['age','gender']].fillna(df_t[['age','gender']].mean())

In [90]:
#حذف سطر دارای نال 
df_t1=df_t.dropna(axis=0)
#حذف ستون
df_t2=df_t.dropna(axis=1)
print(df_t.shape)
print(df_t1.shape)
print(df_t2.shape)

(1000, 44)
(131, 44)
(1000, 40)

In [91]:
# مقدار نات نال بیشتر از 400
df_t3=df_t.dropna(axis=1 , thresh=400)
print(df_t3.shape)

(1000, 42)

In [92]:
df_t4=df_t.copy()
# جایگزین با قبلی
df_t4=df_t4.ffill()
# جایگزین با قبلی
df_t4=df_t4.bfill()

In [93]:
#دیتا ست را بخوانید . نام بعضی ستون ها ایراد دارد. ان را اصلاح کنید
df_h=pd.read_excel('/content/Heart data.xlsx')
df_h.head()

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0,6,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0,3,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0,3,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0,3,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0,3,0

In [94]:
df_h.columns

Index(['Age (age in year)', 'sex', 'chest pain', 'blood pressure',
       'cholestoral ', 'blood sugar', 'electrocardiographic ', 'heart rate',
       'exercise induced', 'depression ', 'slope', 'ca', 'thal', 'c'],
      dtype='object')

In [95]:
df_h=df_h.rename(columns={'cholestoral ':'cholestoral','electrocardiographic ':'electrocardiographic','depression ':'depression'})

In [96]:
df_h.isnull().sum()

Age (age in year)         0
sex                       0
chest pain                0
blood pressure            1
cholestoral              23
blood sugar               8
electrocardiographic      1
heart rate                1
exercise induced          1
depression                0
slope                   190
ca                      290
thal                    266
c                         0
dtype: int64

In [100]:
#مقادیر نال را با میانگین بالا و پایین پر کنید
df_1=df_h.ffill()
df_2=df_h.bfill
df_3=df_h.copy()
df_3=(df_1.fillna(0)+df_2.fillna(0))/2

TypeError: ignored