<a href="https://colab.research.google.com/github/NasimShokrgozar/FirstSc/blob/main/Session06_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_f=pd.read_excel('/content/Farm - clustering or prediction.xlsx')
df_f.head()

,id,name,region,farmsize,rainfall,landquality,farmincome,maincrop,claimtype,claimvalue
0,id601,name601,midlands,1480,30,8,330729.0,wheat,decommission_land,74703.1
1,id602,name602,north,1780,42,9,734118.0,maize,arable_dev,245354.0
2,id603,name603,midlands,500,69,7,231965.0,rapeseed,decommission_land,84213.0
3,id604,name604,southwest,1860,103,3,625251.0,potatoes,decommission_land,281082.0
4,id605,name605,north,1700,46,8,621148.0,wheat,decommission_land,122006.0

In [4]:
# بدئن گذاشتن اکسیس یعنی نالهای ستون را نمایش می دهد
df_f.isnull().sum()

id             0
name           0
region         0
farmsize       0
rainfall       0
landquality    0
farmincome     0
maincrop       0
claimtype      0
claimvalue     0
dtype: int64

In [5]:
df_t=pd.read_excel('/content/Telco - classification or clustering.xls')
df_t.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,...,confer,ebill,loglong,logtoll,logequi,logcard,logwire,lninc,custcat,churn
0,2,13,44,1,9,64,4,5,0,0,...,0,0,1.308333,NaN,NaN,2.014903,NaN,4.158883,1,1
1,3,11,33,1,7,136,5,5,0,0,...,1,0,1.481605,3.032546,NaN,2.724580,3.575151,4.912655,4,1
2,3,68,52,1,24,116,1,29,0,1,...,1,0,2.898671,2.890372,NaN,3.409496,NaN,4.753590,3,0
3,2,33,33,0,12,33,2,0,0,1,...,0,0,2.246015,NaN,NaN,NaN,NaN,3.496508,1,1
4,2,23,30,1,9,30,1,2,0,0,...,1,0,1.840550,NaN,NaN,NaN,NaN,3.401197,3,0

In [7]:
df_t.isnull().sum()

region        0
tenure        0
age           0
marital       0
address       0
income        0
ed            0
employ        0
retire        0
gender        0
reside        0
tollfree      0
equip         0
callcard      0
wireless      0
longmon       0
tollmon       0
equipmon      0
cardmon       0
wiremon       0
longten       0
tollten       0
equipten      0
cardten       0
wireten       0
multline      0
voice         0
pager         0
internet      0
callid        0
callwait      0
forward       0
confer        0
ebill         0
loglong       0
logtoll     525
logequi     614
logcard     322
logwire     704
lninc         0
custcat       0
churn         0
dtype: int64

In [8]:
#درصد Null
df_t.isnull().mean()

region      0.000
tenure      0.000
age         0.000
marital     0.000
address     0.000
income      0.000
ed          0.000
employ      0.000
retire      0.000
gender      0.000
reside      0.000
tollfree    0.000
equip       0.000
callcard    0.000
wireless    0.000
longmon     0.000
tollmon     0.000
equipmon    0.000
cardmon     0.000
wiremon     0.000
longten     0.000
tollten     0.000
equipten    0.000
cardten     0.000
wireten     0.000
multline    0.000
voice       0.000
pager       0.000
internet    0.000
callid      0.000
callwait    0.000
forward     0.000
confer      0.000
ebill       0.000
loglong     0.000
logtoll     0.525
logequi     0.614
logcard     0.322
logwire     0.704
lninc       0.000
custcat     0.000
churn       0.000
dtype: float64

In [23]:
#  درآمد افراد کمتر از 22 سال افزایش 100 داشته باشد
df_t[df_t['age']<22]['income']=df_t[df_t['age']<22]['income']+200

In [24]:
df_t[df_t['age']<22]['income']

25     33
28     17
94     17
100    17
192    19
238    21
243    25
304    18
383    15
419    21
434    20
448    18
534    15
599    21
610    25
662    36
668    15
816    20
829    18
835    20
845    15
957    25
981    18
Name: income, dtype: int64

In [20]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
df_t['NewFeature']=10
df_t['NewFeature']=df_t['income']/df_t['age']
df_t['NewFeature']

0       1.454545
1       4.121212
2       2.230769
3       1.000000
4       1.000000
         ...
995     0.692308
996     0.647059
997    16.000000
998     1.775510
999     1.083333
Name: NewFeature, Length: 1000, dtype: float64

In [31]:
df_t['newtest']=np.log(df_t['income'])
df_t['newtest']

0      4.158883
1      4.912655
2      4.753590
3      3.496508
4      3.401197
         ...
995    3.295837
996    3.091042
997    6.850126
998    4.465908
999    3.663562
Name: newtest, Length: 1000, dtype: float64

In [32]:
df1=df_f.copy()
df1

In [ ]:
del df1