<a href="https://colab.research.google.com/github/NasimShokrgozar/FirstSc/blob/main/Session06_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_f=pd.read_excel('/content/Farm - clustering or prediction.xlsx')
df_f.head()

,id,name,region,farmsize,rainfall,landquality,farmincome,maincrop,claimtype,claimvalue
0,id601,name601,midlands,1480,30,8,330729.0,wheat,decommission_land,74703.1
1,id602,name602,north,1780,42,9,734118.0,maize,arable_dev,245354.0
2,id603,name603,midlands,500,69,7,231965.0,rapeseed,decommission_land,84213.0
3,id604,name604,southwest,1860,103,3,625251.0,potatoes,decommission_land,281082.0
4,id605,name605,north,1700,46,8,621148.0,wheat,decommission_land,122006.0